[project]
name = "websitev2"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "flask>=3.1.2",
    "htmlmin>=0.1.12",
    "maxminddb>=3.0.0",
]
